body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 20px;
  }
  
  .productos-container {
    display: flex;
    justify-content: space-between;
  }
  
  .productos-lista {
    width: 70%;
    list-style-type: none;
    padding: 0;
  }
  
  .productos-lista li {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .product-box {
    margin-top: 10px;
  }
  
  .quantity {
    margin-top: 10px;
  }
  
  .total {
    margin-top: 10px;
  }
  
  .price-list {
    display: block;
    width: 65%;
    height: 25%;
    background-color: #e4d9ec; /* Violeta claro */
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left; /* Texto alineado a la izquierda */
  }
  
  .price-list h2 {
    color: #007BFF;
  }
  
  .price-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .price-list li {
    margin-bottom: 10px;
  }
  
  button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
